<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="d8189f40a099cc8ec25e235693512e60" style="width: 200px; height: 200px; object-fit: cover;"/>
    <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <input type="submit"></input>
      </form>
</body>
</html>